@use '../../utils/var.scss' as var;



.pets__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.1s ease 0s;

    &._hide{
        transform: scale(0);
        position: absolute;
    }
}
.pets__category{
    font-size: 24px;
    font-weight: 600;
    margin: 8px auto;
}
.pet{
    margin: 0px 0px 10px 0px;
    padding: 8px 4px;
    border-radius: 10px;
    width: 100%;

    
    background-color: var.$gen2;
    &:hover{
        background-color: var.$gen3;
    }
    transition: all 0.4s ease 0s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.1s ease 0s;
    .pet__title{
        
        span{
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 4px;
        }
    }
    .pet__skills{
        display: flex;
        width: 100%;
    
        justify-content: space-between;
        .item__text-title{
            font-weight: 900;
        }
        .item__text-skill{
            font-weight: 100;
            line-height: 30px;
        }
    }
}