.main{
    display: flex;
    height: 100%;

	
    .content{
        flex: 1 1 auto;
    }
    .sidebar{
        flex: 0 0 40%;
		// &:hover{
		// 	animation: sidebar-mouseover 1s ease;
		// }
    }

	transition: all 0.3s ease 0s;
	.content,.sidebar{transition: all 0.3s ease 0s;}
}


.content{
    height: 100%;
	width: calc(100% + 45px);
	position: relative;
	overflow-y: scroll;

	scrollbar-width:45px;
	scrollbar-color: #b4b4b441;
	&::-webkit-scrollbar {
		// background-color: #b4b4b441;
		background-color: #1e1e1e6b;
		width: 45px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #3e3e3e6b;
	}
	.content__container{
		position: relative;
		height: 200%;
		width: 100%;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;
		.content__box{
			position: relative;
			width: 100%;
			overflow: hidden;
			
			.box{
				margin: 0px 15px 20px 15px;
				padding: 20px;
				background-color: #666666;
				border-radius: 0px 0px 20px 20px;
			}
		}

	}
}



.sidebar{
    position: relative;
    border-radius: 20px 0 0 20px;
    background-color: #666666;

    cursor: pointer;

    .sidebar-link{
        display: block;
        height: 100%;
        width: 100%;
        z-index: 10;

        padding: 10px 15px 10px 10px;


    }

	.sidebar-resize{
		content: '';
		position: absolute;
		z-index: 20;
		height: 100%;
		width: 8px;
		left: -4px;
		top: 0;
		background-color: red;

		cursor: col-resize;
	}
}











@keyframes sidebar-mouseover{
	0%{
		right: 0;
		// flex: 0 0 40%;
	}
	33%{
		right: 2px;
		// flex: 0 0 39.8%;
	}
	66%{
		right: -2px;
		// flex: 0 0 40.2%;
	}
	100%{
		right: 0;
		// flex: 0 0 40%;
	}
}


















